Repository luftywiranda13/luftywiranda.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint, textlint

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "git add"],
  "*.json": ["prettier --write", "git add"],
  "*.md": ["markdownlint", "textlint", "git add"]
}

refactor(Footer): use `styled-icons`
  package-lock.json
  package.json
  src/components/Footer.js
Due: eslint --fix, prettier --write

refactor: remove global `::selection` styles
  src/layouts/index.js
Due: eslint --fix

refactor(Footer): update text
  src/components/Footer.js
Due: eslint --fix

refactor(Anchor): make styling more reusable
  src/components/Anchor.js
  src/components/Footer.js
  src/pages/index.js
  src/pages/projects.js
  src/templates/blog.js
Due: eslint --fix

refactor(SharingButtons): simplify
  src/components/SharingButtons.js
Due: eslint --fix

refactor(Navbar): construct `Wrapper` from `div`
  src/components/Navbar.js
Due: eslint --fix

refactor(Navbar): increase border size by 1px
  src/components/Navbar.js
  src/layouts/index.js
  src/pages/index.js
Due: eslint --fix

refactor(Navbar): make spacings effected by Navbar's height more predictable
  src/layouts/index.js
  src/pages/index.js
  src/site-constants.js
Due: eslint --fix

refactor(Navbar): update styling (#10)
  src/components/Navbar.js
  src/layouts/index.js
  src/pages/index.js
  src/site-constants.js
Due: eslint --fix

refactor: maintain consistency
  src/components/Card.js
  src/templates/blog.js
Due: eslint --fix

refactor(Navbar): make the height more consistent
  src/components/Navbar.js
  src/layouts/index.js
  src/pages/index.js
  src/site-constants.js
  src/theme.js
Due: eslint --fix

refactor(Navbar): redo
  src/components/Navbar.js
Due: eslint --fix

refactor(Navbar): redo (#11)
  src/components/Navbar.js
  src/layouts/index.js
  src/pages/index.js
  src/site-constants.js
  src/theme.js
Due: eslint --fix

refactor: use better HTML semantics
  src/components/Navbar.js
  src/layouts/index.js
  src/pages/404.js
  src/pages/contact.js
  src/pages/index.js
  src/pages/projects.js
  src/templates/blog.js
Due: eslint --fix

fix: upgrade dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor: type-checking with prop-types
  .eslintrc.json
  package.json
  src/components/Anchor.js
  src/components/Card.js
  src/components/Container.js
  src/components/Footer.js
  src/components/GithubRepo.js
  src/components/Heading.js
  src/components/Lead.js
  src/components/Navbar.js
  src/components/PostPreview.js
  src/components/SharingButtons.js
  src/components/Text.js
  src/components/TitleAndMetaTags.js
  src/html.js
  src/layouts/index.js
  src/pages/404.js
  src/pages/blog/index.js
  src/pages/contact.js
  src/pages/index.js
  src/pages/projects.js
  src/templates/blog.js
  src/templates/categories.js
  src/templates/tags.js
Due: eslint --fix, prettier --write

refactor: code styles
  src/components/Footer.js
  src/components/TitleAndMetaTags.js
  src/layouts/index.js
  src/templates/blog.js
Due: eslint --fix

refactor: type-checking with prop-types (#12)
  .eslintrc.json
  package.json
  src/components/Anchor.js
  src/components/Card.js
  src/components/Container.js
  src/components/Footer.js
  src/components/GithubRepo.js
  src/components/Heading.js
  src/components/Lead.js
  src/components/Navbar.js
  src/components/PostPreview.js
  src/components/SharingButtons.js
  src/components/Text.js
  src/components/TitleAndMetaTags.js
  src/html.js
  src/layouts/index.js
  src/pages/404.js
  src/pages/blog/index.js
  src/pages/contact.js
  src/pages/index.js
  src/pages/projects.js
  src/templates/blog.js
  src/templates/categories.js
  src/templates/tags.js
Due: eslint --fix, prettier --write

chore(ESLint): simplify config
  .eslintrc.json
Due: prettier --write

chore(ESLint): rearrange config file
  .eslintrc.json
Due: prettier --write

feat(Contact): auto-focus form input
  src/pages/contact.js
Due: eslint --fix

fix: upgrade `styled-components`
  package-lock.json
  package.json
Due: prettier --write
